@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#sidebar {
    line-height:30px;
    background-color:#393857;
    height:1000px;
    width:200px;
    float:left;
    position:fixed;
    margin-right:30px;
    margin-bottom:30px;
    z-index:-1;
  }

#userphoto{
    position:absolute;
    left:15px;
    top: 35px;
}
#usernameshow{
    position:absolute;
    left: 63px;
    top: 38px;
}
#useridshow{
    position:absolute;
    left: 63px;
    top: 63px;
}
#startcall{
    position:absolute;
    left: 15px;
    top: 110px;
}
#myclass{
    position:absolute;
    left: 0px;
    top: 160px;
}
#randomclass{
    position:absolute;
    left: 40px;
    top: 220px;
}
#recordclass{
    position:absolute;
    left: 40px;
    top: 270px;
}
#help{
    position:absolute;
    left: 40px;
    top: 320px;
}
#advice{
    position:absolute;
    left: 40px;
    top: 370px;
}
#topbarinside{
    float:left;
    position:fixed;
    background-color:#ffffff;
    height:80px;
    width:1240px;  
    margin-left:200px;    
    margin-bottom:30px;
    padding-left:50px;
  }

  #out{
    float:left;
    position:fixed;
    margin-left:950px;
    margin-top:-20px;    
    padding-left:30px;
  }
  

  #classchoosing {
    float:left;
    position:fixed;
    background-color:white; 
    height:700px;
    width:1090px;
    margin-top:110px;
    margin-left: 230px;
    margin-bottom:30px;
    box-shadow:5px 5px 5px rgba(119,151,178,0.36);
    z-index:1;
  }
  #subtitle{
    font-size: 16px;
    font-family: Arial;
    padding-left: 30px;  
    padding-top: 2px;  
  }

  div.img
  {
  margin:3px;
  border:1px solid #bebebe;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  }
div.img img
  {
  display:inline;
  margin:3px;
  border:1px solid #bebebe;
  }
div.img a:hover img
  {
  border:1px solid #333333;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  width:150px;
  font-size:12px;
  margin:10px 5px 10px 5px;
  }
  #classcancel{
    float:right;
    position:fixed;
    margin-left:950px;
    margin-top:410px;    
    padding-left:30px;
  }
  #classok{
    float:right;
    position:fixed;
    margin-left:850px;
    margin-top:410px;    
    padding-left:30px;
  }
  